user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
	# multi_accept on;
}

http {
	server {
		listen 80;
		listen [::]:80;
		return 301 https://localhost/$request_uri;
	}

	server {

		listen 443 ssl;
		listen [::]:443 ssl;
		ssl_certificate /etc/ssl/certs/localhost.crt;
		ssl_certificate_key /etc/ssl/private/localhost.key;
		ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
		ssl_prefer_server_ciphers on;

		add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload';
		add_header Content-Security-Policy "default-src 'self'; font-src *;img-src * data:; script-src *; style-src *";
		add_header X-XSS-Protection "1; mode=block";
		add_header X-Frame-Options "SAMEORIGIN";

		root /home/simon/prog/orchestra/content;
		root {{ role_path }}/files/content;

		rewrite  ^/$  {{ url_to_crawl }} permanent;
	}
}
